/* css custom properties */
:root {
    /* Colors */
    /* Primary */

    --clr-Soft-blue: hsl(215, 51%, 70%);
    --clr-Cyan: hsl(178, 100%, 50%);

    /* Neutral */
    /* main bg */
    --clr-Very-dark-blue: hsl(217, 54%, 11%);

    /* card bg */
    --clr-dark-blue: hsl(216, 50%, 16%);

    /* line */
    --clr-blue: hsl(215, 32%, 27%);

    --clr-White: hsl(0, 0%, 100%);

     /* body */
    --fs-base: 18px;

    /* font */
    --ff-primary: 'Outfit', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;
}

* {
    font-size: var(--fs-base);
}

body{
    font-family: var(--ff-primary);
    background-color: var(--clr-dark-blue);
    color: var(--clr-White);
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.fd__c{
    flex-direction: column;
}

main{
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    gap: 1.5rem;
    max-width: 380px;
}

.card{
    background-color: var(--clr-dark-blue);
    border-radius: 0.75rem;
    gap: 1rem;
    padding: 1.25rem;
    box-shadow: 0 0 1rem rgb(5, 3, 29);
}

.card__img{
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img__main{
    border-radius: 0.5rem;
}

.img__hover{
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card__img:hover .img__hover{
    opacity: 1;
}

.card__img:hover .img__bg{
    opacity: 0.4;
}

.img__bg{
    height: 100%;
    width: 100%;
    background-color: var(--clr-Cyan);
    opacity: 0;
    position: absolute;
    border-radius: 0.5rem;
    transition: opacity 0.3s ease-in-out;
}

.card h1{
    font-size: 1.25rem;
}

.card h1, .author{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.card h1:hover, .author:hover{
    color: var(--clr-Cyan);
}

.card p, .clock{
    font-weight: var(--fw-light);
    color: var(--clr-Soft-blue);
}

.eth__days{
    justify-content: space-between;
}

.eth{
    gap: 0.5rem;
    align-items: center;
    color: var(--clr-Cyan);
}

.clock{
    gap: 0.5rem;
    align-items: center;
}

.eth__creator{
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--clr-blue);
}

.eth__creator h2{
    color: var(--clr-Soft-blue);
}

.eth__creator h2 >span{
    color: var(--clr-White);
}

.eth__creator-img{
    border-radius: 50%;
    border: 1px solid var(--clr-White);
    height: 2rem;
}